*{
    margin: 0;
    padding: 0;
}
.container{
    
    width: 1600px;
    height: 900px;
   
}
.row-1{
    width: 1600px;
    height: 458px;
    background-color: #0089ED;
    display: flex;
    flex-direction: column;
   
}
.row-2{
    width: 1600px;
    height: 458px;
    background-color: gray;
}
.logo{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
    padding-top: 20px;
   
    
}
h3,h6{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    
    padding-left: 170px;
    padding-top: 50px;
    
   
    
    
}

.lorem{
    color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 170px;

}
.sign-in{
    width: 539px;
    height: 741px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 79px;
    left: 783px;
    right: 118px;
    bottom: 80px;
}
.lorem-2{
    color: #000;
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
h2{
    color: #000;
font-family: Poppins;
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.sign-in-header{
    display: flex;
    justify-content: space-between;
    
    
}
.header-1{
   
    margin: 20px;
    padding: 30px;
    
    

}
.header-2{
    
    
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}

.sign-up {
    text-decoration: none;
    
}
.icon{
    width: 100%;
    height: 100px;
    
   
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 25px;

    
}
.login-with-google-btn{
    background: #E9F1FF;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width: 200px;
height: 50px;

border-radius: 5px;
cursor: pointer;

background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
background-color: white;
background-repeat: no-repeat;
background-position: 8px;
text-align: center;
transition: 1s  background-color;



}
.login-with-google-btn:hover{
    background-color: #E9F1FF;
    color:#4285F4;
    
}
.login-with-facebook{
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color:#F6F6F6;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    

    
}
.login-with-facebook:hover{
    background-color: #4285F4;
    

}

.login-with-apple{
    width: 20px;
    height: 20px;
    
    border-radius: 12px;
    background-color:#F6F6F6;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    
}
.sign-in-content{
    
    display: flex;
    justify-content: center;
    column-gap: 20px;
    

}
label{
    display: block;
    margin-top: 10px;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #000000;


    
}
input{
    width: 400px;
    height: 70px;
    border: 1px solid #4285F4;
    border-radius: 9px;
}
input::placeholder{
    padding-left: 15px;
}
.sign-in-content + a {
    text-decoration: none;
    
    position: relative;
    top: 10px;
    
    left: 360px;
}
input[type="submit"]{
    margin:60px 70px;
    background-color: #0089ED;
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFF;
    
}
