*{
    margin: 0;
    padding: 0;
}
.container{
    
    width: 1600px;
    height: 900px;
   
}
.row-1{
    width: 1600px;
    height: 458px;
    background-color: #0089ED;
    display: flex;
    flex-direction: column;
   
}
.row-2{
    width: 1600px;
    height: 458px;
    background-color: gray;
}
.logo{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 20px;
    padding-top: 20px;
   
    
}
h3,h6{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    
    padding-left: 170px;
    padding-top: 50px;
    
   
    
    
}

.lorem{
    color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 170px;

}
.sign-in{
    width: 539px;
    height: 741px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 79px;
    left: 783px;
    right: 118px;
    bottom: 80px;
}
.lorem-2{
    color: #000;
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
h2{
    color: #000;
font-family: Poppins;
font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.sign-in-header{
    display: flex;
    justify-content: space-between;
    
    
}
.header-1{
   
    margin: 20px;
    padding: 30px;
    background-color:bisque;
    

}
.header-2{
    
    
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.sign-up {
    text-decoration: none;
    
}
.icon{
    width: 100%;
    height: 100px;
    
    background-color: purple;
    display: flex;
    justify-content: space-evenly;
}
.login-with-google-btn{
    background: #E9F1FF;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
width: 120px;
height: 50px;

}
.login-with-facebook{
    width: 20px;
    height: 20px;
    background-color: blue;
}
.login-with-twitter{
    width: 20px;
    height: 20px;
    background-color: gray;
}
.